name: "Send Telegram Message"
on:
  schedule:
    # هر ۳۰ دقیقه در ۲۴ ساعت
    - cron: "0,30 * * * *"  # دقیقه‌های ۰ و ۳۰ هر ساعت
    
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          
      - name: Install dependencies
        run: |
          pip install requests jdatetime
          
      - name: Run bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
        run: python bot.py
        
      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_line.txt
          git diff --cached --quiet || (git commit -m "Update last_line" && git push)
